{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="style.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>{% block title %}
    
    {% endblock title %}</title>

    <link rel="stylesheet" href="{% static 'css/style.css'%}">
  </head>
  <body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>


    <form class="form-inline my-2 my-lg-0 me-auto" style="width: 27rem;">
        <input class="form-control mr-sm-2" type="search" placeholder="Search">
     
      </form>




  
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav mx-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li>
      </ul>
      
    </div>
  </nav>  
          
          
  
    {% block content %}
    
    {% endblock content %}

 
<div class="container-fluid mt-5 bg-dark p-3">

  <div class="row" id="footer">

  <div class="col-4" id="footer1">
   
    <ul>
      <li class="text-white bg-dark">DoctorAppointment</li>
      <li><a href="news.asp">About</a></li>
      <li><a href="contact.asp">Blog</a></li>
      <li><a href="about.asp">Contactus</a></li>
    </ul>




  </div>


  <div class="col-4" id="footer2">
   
    <ul>
      <li class="text-white bg-dark">For Patients</li>
      <li><a href="signuppage">SignUp</a></li>
      <li><a href="loginpage">Login</a></li>
      <li><a href="about.asp">FindDoctors</a></li>
      <li><a href="about.asp">Find Testing Labs</a></li>
    </ul>




  </div>

  <div class="col-3" id="footer3">
   
    <ul>
      <l class="text-white bg-dark">For Doctors</li>
      <li><a href="news.asp">SignUp</a></li>
      <li><a href="contact.asp">Login</a></li>
      <li><a href="about.asp">FAQ</a></li>
      
    </ul>




  </div>









  </div>








</div>
 





    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

  </body>
</html>